body{
    margin: 0px;
}

/* Barra Nav  */

.barranav{
    display: flex;
    justify-content: space-between;
    background-color:black ;
    padding: 20px;
    box-shadow: rgb(107, 107, 107) 0px 3px 8px;
    
}

.homeicon img{
    width: 35px;
    margin-top: 50px;

}

.login img{
    width: 35px;
    margin-top: 50px;
}

.bn2{
    display: flex;
    justify-content: center;
}

.barranav2{
    background-color:#FF7417 ;
    padding: 20px;
    width: 600px;
    box-shadow: rgb(107, 107, 107) 0px 3px 8px;
    display: flex;
    justify-content: space-evenly;
}

li{
   list-style: none;
   font-size: 20px;
   
}

li a{
   color: black;
   text-decoration: none;

}

.bn2 li a:hover{
    border: solid;
    border-color: black;
    border-top: 0px;
    border-left:0px ;
    border-right: 0px;
}

/* Fim barra nav */

/* Incio conteudo */

h2{
    margin-top: 150px;
    text-align: center;
}

.tudo{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 230px;
}

.conteiner1{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7417;
    width: 1180px;
    height: 750px;
}

.conteiner2{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    width: 1120px;
    height: 700px;
}

.conteiner3{
    border-radius: 10px;
    display: flex;
   justify-content: center;
   background-color: white;
   width: 1080px;
   height: 650px ;
}

.horarios{
   margin-top: 10px;
}

.horario1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.box1 h1{
    margin-top: 28px;
    font-size: 25px;
    text-align: center;
}

.box1{
    background-color: #F6F6F6;
    box-shadow: rgb(181, 180, 180) 0px 1px 5px 3px;
    width: 500px;
    height: 100px;
}

.horario2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.box2 h1{
    margin-top: 28px;
    font-size: 25px;
    text-align: center;
}

.box2{
    box-shadow: rgb(181, 180, 180) 0px 1px 5px 3px;
    background-color: #F6F6F6;
    width: 500px;
    height: 100px;
}

.horario3{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.box3 h1{
    margin-top: 28px;
    font-size: 25px;
    text-align: center;
}

.box3{
    box-shadow: rgb(181, 180, 180) 0px 1px 5px 3px;
    background-color: #F6F6F6;
    width: 500px;
    height: 100px;
}

.horario4{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.box4 h1{
    margin-top: 28px;
    font-size: 25px;
    text-align: center;
}

.box4{
    box-shadow: rgb(181, 180, 180) 0px 1px 5px 3px;
    background-color: #F6F6F6;
    width: 500px;
    height: 100px;
}

.barra{
    background-color: #000000;
    width: 500px;
    height: 10px;
}

.titulo h1{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

/* Fim Conteúdo */

/* Icones de redes socias */

figure, figure img{
    width: 35px;
    height: 35px;
    margin: 3px;

}

.icones{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 5px;
    z-index: 100;
    bottom: 15px;
}

/* Fim icones de redes sociais */

/* Inicio Rodapé */

footer{
    background-color: black;
    height: 300px;
    width: 100%;;
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#logo1{
    margin-left: 5px;
    margin-top: 15px;
    width: 80px;
}


.col1 h3{
    color: white;
}

.col1 p{
    color: white;
}

.col1 p :hover{
    
    color: #FF7417;
}

.col1 a{
    text-decoration: none;
    color: white;
}

.col1 img{
    width: 30px;
    margin: 0px 2px 0px 2px;
}


/* Fim Rodapé */